.getStarted[class][class]:not(.button--active):not(:hover) {
  color: var(--ifm-color-secondary);
}

.getStarted[class][class]:not(.button--active):hover {
  color: var(--ifm-color-white);
}

.year {
  color: var(--ifm-color-primary);
}
