[flake8]
max-line-length=100
count=True
show-source=False
statistics=True
exclude=.git, hyperglass/ui, __pycache__, hyperglass/api/examples/*.py, hyperglass/compat/_sshtunnel.py, test.py
filename=*.py
per-file-ignores=
    hyperglass/main.py:E402
    # Disable classmethod warning for validator decorators
    hyperglass/models/*.py:N805,E0213,R0903,E501,C0301
    hyperglass/models/api/*.py:N805,E0213,R0903,E501,C0301
    hyperglass/models/commands/*.py:N805,E0213,R0903,E501,C0301
    hyperglass/parsing/models/*.py:N805,E0213,R0903
    hyperglass/configuration/models/*.py:N805,E0213,R0903,E501,C0301
    # Disable unused import warning for modules
    hyperglass/*/__init__.py:F401
    hyperglass/models/*/__init__.py:F401
    # Disable assertion and docstring checks on tests.
    hyperglass/**/test_*.py:S101,D103
    hyperglass/api/*.py:B008
ignore=W503,C0330,R504,D202,S403,S301,S404,E731,D402
select=B, BLK, C, D, E, F, I, II, N, P, PIE, S, R, W
disable-noqa=False
hang-closing=False
max-complexity=10
