[flake8]
max-line-length=88
count=True
show-source=False
statistics=True
exclude=.git, __pycache__, hyperglass/api/examples/*.py
filename=*.py
per-file-ignores=
    # Disable redefinition warning for exception handlers
    hyperglass/api.py:F811
    # Disable classmethod warning for validator decorators
    hyperglass/models/*.py:N805,E0213,R0903
    hyperglass/configuration/models/*.py:N805,E0213,R0903
    # Disable string length warnings so one can actually read the commands
    hyperglass/configuration/models/*.py:E501,C0301
    hyperglass/api/models/response.py:E501,C0301
ignore=W503,C0330,R504,D202
select=B, BLK, C, D, E, F, I, II, N, P, PIE, S, R, W
disable-noqa=False
hang-closing=False
max-complexity=10
# format=${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
