# NPM/Yarn
hyperglass/ui/package.json linguist-vendored
hyperglass/ui/yarn.lock linguist-vendored
hyperglass/docs/package.json linguist-vendored
hyperglass/docs/yarn.lock linguist-vendored

# Static Assets
*.png linguist-vendored
*.ico linguist-vendored
browserconfig.xml linguist-generated
site.webmanifest linguist-generated

# Example Files
*.yaml.example linguist-language=YAML
*.yml.example linguist-language=YAML
*.md.example linguist-language=Markdown
*.service.example linguist-language=INI