# NPM/Yarn
hyperglass/static/package.json linguist-vendored
hyperglass/static/yarn.lock linguist-vendored

# Templates/Examples
*.html.j2 linguist-language=HTML
*.sass.j2 linguist-language=Sass
*.yaml.example linguist-language=YAML
*.yml.example linguist-language=YAML
*.md.example linguist-language=Markdown
*.service.example linguist-language=INI