aredis==1.1.5
click==6.7
hiredis==1.0.0
http3==0.6.7
jinja2==2.10.1
libsass==0.18.0
logzero==1.5.0
markdown2==2.3.7
netmiko==2.3.3
passlib==1.7.1
prometheus_client==0.7.0
pydantic==0.29
pyyaml==5.1.1
sanic_limiter==0.1.3
sanic==19.6.2
sshtunnel==0.1.5