# Non-dictionary parameters
requires_ipv6_cidr = [
"cisco_ios",
"cisco_nxos"
]

# General site-wide parameters
[general]
# primary_asn = ""
# org_name = ""
# google_analytics = ""
# enable_bgp_route = ""
# enable_bgp_community = ""
# enable_bgp_aspath = ""
# enable_ping = ""
# enable_traceroute = ""
# enable_max_prefix = ""
# max_prefix_length_ipv4 = ""
# max_prefix_length_ipv6 = ""
[general.bgp_aspath]
# mode = "asplain"
[general.bgp_aspath.asplain]
[general.bgp_aspath.asdot]

# Branding/Visual Customization Parameters
[branding]
# site_title = ""
# title = ""
# subtitle = ""
# title_mode = ""
# logo_path = ""
# logo_width = ""
# favicon_dir = ""
