anybadge
black
isort
flake8
flake8-breakpoint
flake8-builtins
flake8-bandit
flake8-bugbear
flake8-colors
flake8-comprehensions
flake8-deprecated
flake8-eradicate
flake8-if-expr
flake8-isort
flake8-print
flake8-return
pep8-naming
