/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css?family=Nunito:200,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

:root {
  --ifm-font-size-sm: 12px;
  --ifm-color-secondary: #69a2b0;
  --ifm-color-secondary-dark: #5796a6;
  --ifm-color-secondary-darker: #528e9c;
  --ifm-color-secondary-darkest: #447581;
  --ifm-color-secondary-light: #7badba;
  --ifm-color-secondary-lighter: #85b3bf;
  --ifm-color-secondary-lightest: #a0c4cd;
  --ifm-color-primary: #ff5e5b;
  --ifm-color-primary-dark: #ff3c38;
  --ifm-color-primary-darker: #ff2b27;
  --ifm-color-primary-darkest: #f20400;
  --ifm-color-primary-light: #ff807e;
  --ifm-color-primary-lighter: #ff918f;
  --ifm-color-primary-lightest: #ffc4c3;
  --ifm-color-success: #35b246;
  --ifm-color-success-dark: #30a03f;
  --ifm-color-success-darker: #2d973b;
  --ifm-color-success-darkest: #257d31;
  --ifm-color-success-light: #3ac44d;
  --ifm-color-success-lighter: #43c755;
  --ifm-color-success-lightest: #5dcf6d;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Nunito", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-font-family-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --ifm-code-padding-vertical: 0.05rem;
  --hgd-footer-link-color: var(--ifm-color-emphasis-700);
  --hgd-link-hover-color: var(--ifm-color-secondary-darker);
  --ifm-link-color: var(--ifm-color-secondary);
}

:root {
  --ifm-code-background: rgba(0, 0, 0, 0.04);
  --ifm-code-color: var(--ifm-color-secondary-darkest);
  --ifm-footer-color: var(--ifm-secondary-lightest);
  --ifm-footer-link-color: var(--ifm-secondary-lightest);
  --ifm-footer-title-color: var(--ifm-color-emphasis-800);
  --ifm-footer-background-color: var(--ifm-color-emphasis-100);
}

:root {
  --ifm-menu-color-active: black;
  --ifm-alert-background-color: var(--ifm-color-gray-400);
}

html[data-theme="dark"]:root {
  --ifm-background-color: #121212;
  --ifm-background-surface-color: #1e2125;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-menu-color-active: var(--ifm-color-primary);
  --ifm-blockquote-color: var(--ifm-color-emphasis-400);
  --ifm-link-color: var(--ifm-color-primary);
  --hgd-footer-link-color: var(--ifm-color-emphasis-400);
  --hgd-link-hover-color: var(--ifm-color-primary-darker);
  --ifm-code-background: rgba(255, 255, 255, 0.08);
  --ifm-code-color: var(--ifm-color-secondary-lightest);
  --ifm-footer-link-color: ;
}

.admonition.alert {
  --ra-admonition-icon-color: currentColor;
  --ifm-alert-color: var(--ifm-font-color-base);
  border-color: unset;
  border-style: unset;
  border-width: unset;
  box-shadow: var(--ifm-global-shadow-md);
}

html[data-theme="dark"] .admonition.alert--warning {
  --ifm-alert-color: var(--ifm-color-black);
}
html[data-theme="dark"] .admonition.alert--critical {
  --ifm-alert-color: var(--ifm-color-black);
}
html[data-theme="dark"] .admonition.alert--info {
  --ifm-alert-color: var(--ifm-color-black);
}
html[data-theme=""] .admonition.alert--success {
  --ifm-alert-color: white;
}

html[data-theme="dark"]:root .admonition.alert.admonition-note {
  --ifm-alert-background-color: var(--ifm-color-gray-600);
}

.admonition.alert.admonition-note {
  --ifm-alert-background-color: var(--ifm-color-gray-300);
  --ifm-alert-color: var(--ifm-color-black);
}

.admonition.alert.admonition-note[class] .admonition-content[class] a {
  color: var(--ifm-font-color-base);
  opacity: 0.9;
}

.footer.footer--dark {
  --ifm-footer-color: var(--ifm-color-emphasis-600);
  --ifm-footer-link-color: var(--ifm-footer-color);
  --ifm-footer-title-color: var(--ifm-color-emphasis-800);
  --ifm-footer-background-color: var(--ifm-color-emphasis-100);
}

.footer.footer--dark .footer__items {
  font-size: 0.8rem;
}

.footer .footer__items .footer__item .footer__link-item {
  color: var(--hgd-footer-link-color);
}

.admonition {
  --ifm-code-background: rgba(255, 255, 255, 0.5);
  --ifm-code-color: var(--ifm-color-secondary-darkest);
  --ifm-link-color: rgba(0, 0, 0, 0.5);
}

.admonition.alert--success .admonition-content a,
.admonition.alert--warning .admonition-content a,
.admonition.alert--critical .admonition-content a,
.admonition.alert--info .admonition-content a {
  color: var(--ra-color-link);
}

.admonition.admonition-note .admonition-content code {
  --ifm-code-color: var(--ifm-color-gray-900);
}

.admonition .admonition-content a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(255, 255, 255, 0.1);
}

table {
  margin-top: var(--ifm-spacing-vertical);
}

table td:nth-child(1) {
  white-space: nowrap;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: var(--ifm-color-primary);
}

.contents a.contents__link--active[class] {
  color: var(--ifm-color-secondary);
  font-weight: bold;
}

a:hover {
  color: var(--hgd-link-hover-color);
}

html[data-theme="dark"] .contents a.contents__link--active[class] {
  color: var(--ifm-color-primary);
  font-weight: bold;
}

html[data-theme="dark"] .navbar .navbar__items a.navbar__brand {
  color: var(--ifm-color-primary);
}

nav.navbar.navbar--fixed-top {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.navbar .navbar__items a.navbar__brand {
  color: var(--ifm-color-black);
}

@media screen and (max-width: 997px) {
  .col.footer__col[class][class] {
    text-align: left;
  }
  .navbar .navbar__search {
    padding-left: unset;
  }
  .navbar .navbar__search .navbar__search-input {
    width: 100%;
    display: block;
  }
  .navbar .navbar__inner .navbar__items a.navbar__brand img.logo-at-home {
    display: none;
  }
}

.navbar .navbar__search .navbar__search-input {
  border-radius: var(--ifm-button-border-radius);
  border-width: var(--ifm-button-border-width);
  border-color: var(--ifm-navbar-search-input-background-color);
  border-style: solid;
}

.admonition-content table tr:nth-child(2n) {
  background-color: unset;
}

@media screen and (min-width: 998px) {
  div.table--full-width ~ table {
    display: table;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.menu .menu__list .menu__list-item .menu__link.menu__link--active {
  font-weight: var(--ifm-font-weight-bold);
  color: var(--ifm-color-secondary);
}

html[data-theme="dark"]
  .menu
  .menu__list
  .menu__list-item
  .menu__link.menu__link--active {
  color: var(--ifm-color-primary);
}

.menu .menu__list .menu__list-item .menu__link,
.table-of-contents .table-of-contents__link {
  color: var(--ifm-font-color-base);
}

.table-of-contents .table-of-contents__link:hover {
  color: var(--hgd-link-hover-color);
}

.footer .footer__col:first-child {
  text-align: left;
}

.footer .footer__col:not(:first-child):not(:last-child) {
  text-align: center;
}

.footer .footer__col:last-child {
  text-align: right;
}

.header-github-link {
  transition: opacity 0.2s ease-in-out;
}

.header-github-link:hover {
  opacity: 0.75;
}

.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
