/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css?family=Nunito:200,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

:root {
  --ifm-font-size-sm: 12px;
  --ifm-color-secondary: #69a2b0;
  --ifm-color-secondary-dark: #5796a6;
  --ifm-color-secondary-darker: #528e9c;
  --ifm-color-secondary-darkest: #447581;
  --ifm-color-secondary-light: #7badba;
  --ifm-color-secondary-lighter: #85b3bf;
  --ifm-color-secondary-lightest: #a0c4cd;
  --ifm-color-primary: #ff5e5b;
  --ifm-color-primary-dark: #ff3c38;
  --ifm-color-primary-darker: #ff2b27;
  --ifm-color-primary-darkest: #f20400;
  --ifm-color-primary-light: #ff807e;
  --ifm-color-primary-lighter: #ff918f;
  --ifm-color-primary-lightest: #ffc4c3;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Nunito", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-font-family-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --ifm-code-background: rgba(0, 0, 0, 0.04);
  --ifm-code-color: var(--ifm-color-secondary-darkest);
  --ifm-footer-color: var(--ifm-secondary-lightest);
  --ifm-footer-link-color: var(--ifm-secondary-lightest);
  --ifm-footer-title-color: var(--ifm-color-emphasis-800);
  --ifm-footer-background-color: var(--ifm-color-emphasis-100);
}

:root {
  --ifm-menu-color-active: black;
  --ra-color-link: var(--ifm-color-black);
  --ra-color-caution: var(--ifm-color-warning-lightest);
  --ra-color-tip: var(--ifm-color-success-lightest);
  --ra-color-important: var(--ifm-color-info-lightest);
  --ra-color-note: var(--ifm-color-gray-200);
  --ra-color-warning: var(--ifm-color-danger-lighter);
  --ra-admonition-color: var(--ifm-font-base-color);
  --ifm-alert-background-color: var(--ifm-color-gray-400);
}

html[data-theme="dark"]:root {
  --ifm-menu-color-active: var(--ifm-color-primary);
  --ra-color-link: var(--ifm-color-black);
  --ra-color-caution: var(--ifm-color-warning-darkest);
  --ra-color-tip: var(--ifm-color-success-darkest);
  --ra-color-important: var(--ifm-color-info-darkest);
  --ra-color-note: var(--ifm-color-gray-600);
  --ra-color-warning: var(--ifm-color-danger-darker);
  --ifm-blockquote-color: var(--ifm-color-emphasis-400);
}

.admonition.alert {
  --ra-admonition-icon-color: currentColor;
}

html[data-theme="dark"]:root .admonition.alert.admonition-note {
  --ifm-alert-background-color: var(--ifm-color-gray-600);
}

.admonition.alert.admonition-note {
  --ifm-alert-background-color: var(--ifm-color-gray-300);
  --ifm-alert-color: var(--ifm-color-black);
}

html[data-theme="dark"] .footer.footer--dark {
  --ifm-footer-color: var(--ifm-color-emphasis-400);
  --ifm-navbar-background-color: var(--ifm-background-color);
}

.footer.footer--dark {
  --ifm-footer-color: var(--ifm-color-emphasis-600);
  --ifm-footer-link-color: var(--ifm-footer-color);
  --ifm-footer-title-color: var(--ifm-color-emphasis-800);
  --ifm-footer-background-color: var(--ifm-color-emphasis-100);
}

.footer.footer--dark .footer__items {
  font-size: 0.8rem;
}

html[data-theme="dark"] {
  --ifm-code-background: rgba(255, 255, 255, 0.08);
  --ifm-code-color: var(--ifm-color-secondary-lightest);
  --ifm-footer-link-color: ;
  /* #ace8cd
        #b6a7e2
        #dc7381
     */
}

.admonition {
  --ifm-code-background: rgba(255, 255, 255, 0.5);
  --ifm-code-color: var(--ifm-color-secondary-darkest);
  --ifm-link-color: rgba(0, 0, 0, 0.5);
}

.admonition.alert--success .admonition-content a,
.admonition.alert--warning .admonition-content a,
.admonition.alert--critical .admonition-content a,
.admonition.alert--info .admonition-content a {
  color: var(--ra-color-link);
}

.admonition.admonition-note .admonition-content code {
  --ifm-code-color: var(--ifm-color-gray-900);
}

.admonition .admonition-content a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

table {
  margin-top: var(--ifm-spacing-vertical);
}

table td:nth-child(1) {
  white-space: nowrap;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: var(--ifm-color-primary);
}

a {
  color: var(--ifm-color-secondary);
}
.contents a.contents__link--active[class] {
  color: var(--ifm-color-secondary);
  font-weight: bold;
}

a:hover {
  color: var(--ifm-color-secondary-darker);
}

html[data-theme="dark"] a {
  color: var(--ifm-color-primary);
}

html[data-theme="dark"] .contents a.contents__link--active[class] {
  color: var(--ifm-color-primary);
  font-weight: bold;
}

html[data-theme="dark"] a:hover {
  color: var(--ifm-color-primary-light);
}

html[data-theme="dark"] .navbar .navbar__items a.navbar__brand {
  color: var(--ifm-color-primary);
}

.navbar .navbar__items a.navbar__brand {
  color: var(--ifm-color-black);
}

@media screen and (max-width: 997px) {
  .col.footer__col[class][class] {
    text-align: left;
  }
  .navbar .navbar__search {
    padding-left: unset;
  }
  .navbar .navbar__search .navbar__search-input {
    width: 100%;
    display: block;
  }
}

.navbar .navbar__search .navbar__search-input {
  border-radius: var(--ifm-button-border-radius);
  border-width: var(--ifm-button-border-width);
  border-color: var(--ifm-navbar-search-input-background-color);
  border-style: solid;
}

.admonition-content table tr:nth-child(2n) {
  background-color: unset;
}

@media screen and (min-width: 998px) {
  div.table--full-width ~ table {
    display: table;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.menu .menu__link.menu__link--active {
  font-weight: var(--ifm-font-weight-bold);
}
