{% extends "templates/base.html.j2" %}
<!DOCTYPE html>
<html>

<head>
</head>

{% block content %}

<body class="has-background-danger">
  <section class="section">
    <nav class="navbar has-background-danger">
        <div class="navbar-brand has-background-danger">
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>
  <section>
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        {{ branding.text.error404.title }}
      </h1>
      <h2 class="subtitle is-size-3">
        {{ branding.text.error404.subtitle }}
      </h2>
      <br>
    </div>
  </section>
  {% if branding.footer.enable == true %}
    {% include "templates/footer.html.j2" %}
  {% endif %}
  {% if branding.credit.enable == true %}
    {% include "templates/credit.html.j2" %}
  {% endif %}
{% endblock %}
</body>
</html>
