{% extends "templates/base.html" %}
<!DOCTYPE html>
<html>

<head>
</head>

{% block content %}

<body class="has-background-danger">
  <section class="section">
    <nav class="navbar has-background-danger">
      <div class="container">
        <div class="navbar-brand">
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>
  <section>
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        {{ text_limiter_title }}
      </h1>
      <h2 class="subtitle is-size-3">
        {{ text_limiter_subtitle }}
      </h2>
      <br>
      <a href="/" class="button is-medium is-rounded is-inverted is-danger is-outlined">Try Again</a>
    </div>
  </section>
</body>
  {% endblock %}
  {% if enable_footer == true %}
  {% include "templates/footer.html" %}
  {% endif %}
</html>
