<!DOCTYPE html>
<html class="h-100">

<head>
  <title>{{ branding.site_name }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ branding.logo.favicons }}apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ branding.logo.favicons }}favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ branding.logo.favicons }}favicon-32x32.png" />
  <link rel="manifest" href="{{ branding.logo.favicons }}site.webmanifest" />
  <link rel="mask-icon" href="{{ branding.logo.favicons }}safari-pinned-tab.svg"
    color="{{ branding.colors.tag.command }}" />
  <link rel="shortcut icon" href="{{ branding.logo.favicons }}favicon.ico" />
  <meta name="msapplication-TileColor" content="{{ branding.colors.tag.location_title }}" />
  <meta name="msapplication-config" content="{{ branding.logo.favicons }}browserconfig.xml" />
  <meta name="theme-color" content="{{ branding.colors.button_submit }}" />
  <link href="ui/hyperglass.css" rel="stylesheet" type="text/css" />
  {% block head %}
  {% endblock %}
</head>

<body class="d-flex flex-column h-100">
{% include "templates/ratelimit-query.html.j2" %}
{% include "templates/info.html.j2" %}
<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main role="main" class="flex-shrink-0">
  {% block content %}
  {% endblock %}
  </main>
  <button class="animsition btn btn-link text-primary hg-back d-none" id="hg-back-btn" data-animsition-out-class="fade-out-left" data-animsition-in-class="fade-in-left">
    <i class="remixicon-arrow-left-s-line"></i>
  </button>
  {% include "templates/footer.html.j2" %}
  </div>
  <script src="ui/hyperglass.js"></script>
  {% if general.google_analytics %}
  <!--Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{general.google_analytics}}">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "{{ general.google_analytics }}");
  </script>
  {% endif %}
  {% block scripts %}
  {% endblock %}
</body>

</html>