{% macro errortext(title, subtitle, button) -%}

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="jumbotron bg-danger">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">{{ subtitle }}</p>
        <hr class="my-4">
        <a class="btn btn-outline-danger btn-lg" href="/" role="button">{{ button }}</a>
    </div>
</div>
{%- endmacro %}