{% if branding.footer.enable %}
<nav class="navbar fixed-bottom navbar-footer bg-footer pt-0 pb-0">
  <div class="container-fluid row no-gutters text-center p-0">
    <div class="col-auto float-left">
      <div class="d-none" id="hg-footer-terms-html">{{ details.footer.content | safe }}</div>
      <a class="btn btn-link hg-footer-item" id="hg-footer-terms-btn" href="#" data-toggle="popover" tabindex="0"
        title="{{ branding.text.terms }}"><small>{{ branding.text.terms }}</small></a>
    </div>
    <div class="col-auto float-left">
      <div class="d-none" id="hg-footer-help-html">{{ rendered_help.content | safe }}</div>
      <a class="btn btn-link hg-footer-item" id="hg-footer-help-btn" href="#" data-toggle="popover" tabindex="0"
        title="{{ branding.text.info }}"><small>{{ branding.text.info }}</small></a>
    </div>
    <div class="col-auto mr-auto"></div>
    {% if branding.credit.enable %}
    <div class="col-auto float-right">
      <div class="d-none" id="hg-footer-credit-title">
        Powered by <a href="https://github.com/checktheroads/hyperglass" target="_blank">hyperglass</a>.
      </div>
      <div class="d-none" id="hg-footer-credit-content">
        Source code licensed <a href="https://github.com/checktheroads/hyperglass/blob/master/LICENSE"
          target="_blank">BSD 3-Clause Clear.</a>
      </div>
      <a class="btn btn-link" id="hg-footer-credit-btn" href="#" data-toggle="popover" tabindex="0"><small><i
            class="remixicon-code-s-slash-line"></i></small></a>
    </div>
    {% endif %}
    {% if branding.peering_db.enable %}
    <div class="col-auto float-right">
      <a class="btn btn-link" href="https://as{{ general.primary_asn }}.peeringdb.com/"
        target="_blank"><small>PeeringDB&nbsp;<i class="remixicon-share-circle-line"></i></small>
      </a>
    </div>
    {% endif %}
  </div>
</nav>
{% endif %}