<footer class="footer mt-auto py-3">
  <div class="container text-center">
    {% if branding.footer.enable and branding.credit.enable %}
    <div class="col">
      <small>{{ details.footer.content | safe }}</small>
    </div>
    <div class="col">
      {% include "templates/credit.html.j2" %}
    </div>
    {% elif not branding.credit.enable and branding.footer.enable %}
    <div class="col">
      <small>{{ details.footer.content | safe }}</small>
    </div>
    {% elif not branding.footer.enable and branding.credit.enable %}
    <div class="col">
      {% include "templates/credit.html.j2" %}
    </div>
    {% endif %}
    {% if branding.peering_db.enable %}
    <div class="col">
        <a class="btn btn-link btn-sm" href="https://as{{ general.primary_asn }}.peeringdb.com/" 
        target="_blank">PeeringDB&nbsp;<i class="remixicon-share-circle-line"></i>
        </a>
    </div>
    {% endif %}
  </div>
</footer>