@charset "utf-8";

/* Fonts */
@import url('{{ primary_font_url }}');
@import url('{{ mono_font_url }}');

$family-sans-serif: "{{ primary_font_name }}", sans-serif;
$family-monospace: "{{ mono_font_name }}", monospace;

/* Custom Colors */
$lg-btn-submit: {{ color_btn_submit }};
$lg-tag-loctitle: {{ color_tag_loctitle }};
$lg-tag-cmdtitle: {{ color_tag_cmdtitle }};
$lg-tag-cmd: {{ color_tag_cmd }};
$lg-hero-bg: {{ color_hero }};
$lg-progressbar: {{ color_progressbar }};
$lg-tag-loc: {{ color_tag_loc }};

/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";

/* Looking Glass Imports */
@import "custom/custom_elements";
