@charset "utf-8";

/* Fonts */
@import url('{{ branding["font"]["primary"]["url"] }}');
@import url('{{ branding["font"]["mono"]["url"] }}');

$family-sans-serif: "{{ branding["font"]["primary"]["name"] }}", sans-serif;
$family-monospace: "{{ branding["font"]["mono"]["name"] }}", monospace;

$code-size: {{ branding["font"]["mono"]["size"] }};

/* Color Changes */
$body-background-color: {{ branding["color"]["background"] }};
$footer-background-color: transparent;
$danger: {{ branding["color"]["danger"] }};

/* Custom Colors */
$lg-btn-submit: {{ branding["color"]["button_submit"] }};
$lg-tag-loc_title: {{ branding["color"]["tag"]["location_title"] }};
$lg-tag-type_title: {{ branding["color"]["tag"]["type_title"] }};
$lg-tag-type: {{ branding["color"]["tag"]["type"] }};
$lg-progressbar: {{ branding["color"]["progress_bar"] }};
$lg-tag-loc: {{ branding["color"]["tag"]["location"] }};

/* Element Changes */
$footer-padding: 3rem 1.5rem 3rem ;

/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";

/* Hyperglass Imports */
@import "custom/custom_elements";
