{% extends "templates/base.html.j2" %}

<head>
  {% block head %}
  {% include "templates/inlinestyle.html.j2" %}
  {% endblock %}
</head>

{% block content %}
{% include "templates/ratelimit-query.html.j2" %}
{% if branding.peering_db.enable %}
<div class="ui secondary menu">
  <div class="right menu">
    <a href="https://as{{ general.primary_asn }}.peeringdb.com/" target="_blank" class="item">
      PeeringDB&nbsp;
      <i class="sign out alternate icon"></i>
    </a>
  </div>
</div>
{% endif %}
<div class="ui vertical center aligned segment" id="lg-maincontainer">
  <div class="ui content container animsition" data-animsition-out-class="fade-out-right"
    data-animsition-in-class="fade-in-left" id="lg-form">
    {% import "templates/title.html.j2" as title %}
    {{ title.title(branding, primary_asn, size_title="h1", size_subtitle="h3") }}
    <form class="ui huge form" onsubmit="return false" name="queryform" id="lgForm" action="?" method="POST">
      <div class="two fields">
        <div class="field">
          <div class="ui fluid search selection dropdown" id="location">
            <input type="hidden" name="location">
            <div class="default text">{{ branding.text.location }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {% for (netname, loc_params) in networks.items() %}
              <div class="divider"></div>
              <div class="header">
                <i class="globe icon"></i>
                {{ netname }}
              </div>
              {% for param in loc_params %}
              <div class="item" data-value='{{param["hostname"]}}'>
                {{param["display_name"]}}
              </div>
              <input type="hidden" id='{{param["hostname"]}}' name='{{param["display_name"]}}' value="{{ netname }}">
              {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui selection dropdown left icon" id="query_type">
            <input type="hidden" name="query_type">
            <i class="dropdown icon"></i>
            <div class="default text">{{ branding.text.query_type }}</div>
            <div class="ui menu">
              {% if features.bgp_route.enable %}
              <div class="item feature-selection" id="type_bgp_route" data-value="bgp_route">
                {{ branding.text.bgp_route }}
              </div>
              {% endif %}
              {% if features.bgp_community.enable == true %}
              <div class="item feature-selection" id="type_bgp_community" data-value="bgp_community">
                {{ branding.text.bgp_community }}
              </div>
              {% endif %}
              {% if features.bgp_aspath.enable == true %}
              <div class="item feature-selection" id="type_bgp_aspath" data-value="bgp_aspath">
                {{ branding.text.bgp_aspath }}
              </div>
              {% endif %}
              {% if features.ping.enable == true %}
              <div class="item feature-selection" id="type_ping" data-value="ping">
                {{ branding.text.ping }}
              </div>
              {% endif %}
              {% if features.traceroute.enable == true %}
              <div class="item feature-selection" id="type_traceroute" data-value="traceroute">
                {{ branding.text.traceroute }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="field" id="field-target">
        <div class="ui fluid icon input">
          <input type="text" placeholder="{{ branding.text.query_placeholder }}" id="target">
          <i class="search link icon" id="submit_button"></i>
        </div>
      </div>
      <div class="ui hidden message"></div>
    </form>
    <div class="ui popup" id="bgpr_help_content">{{ info["bgp_route"]["content"] | safe }}</div>
    <div class="ui popup" id="bgpc_help_content">{{ info["bgp_community"]["content"] | safe }}<div class="ui divider">
      </div>{{ details["bgp_community"]["content"] | safe }}</div>
    <div class="ui popup" id="bgpa_help_content">{{ info["bgp_aspath"]["content"] | safe }}<div class="ui divider">
      </div>{{ details["bgp_aspath"]["content"] | safe }}</div>
    <div class="ui popup" id="ping_help_content">{{ info["ping"]["content"] | safe }}</div>
    <div class="ui popup" id="traceroute_help_content">{{ info["traceroute"]["content"] | safe }}</div>
  </div>
  {% include "templates/results.html.j2" %}
</div>
{% endblock %}
{% block footer %}
{% include "templates/footer.html.j2" %}
{% endblock %}