<style type="text/css">
    body {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: grayscale;
    }

    @media only screen and (min-width: 768px) {
        .ui.container {
            width: 700px;
            max-width: 700px;
        }
    }

    #lg-results a {
        color: rgba(0, 0, 0, .87);
    }

    #lg-maincontainer {
        padding-top: 36px;
        min-height: 100vh;
    }

    #lg-results-output {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }

    .ui.content.container {
        height: 300px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ui.vertical.segment footer.ui.segment {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-left: 2em;
        padding-right: 2em;
    }

    .ui.huge.header {
        font-size: 3rem;
    }

    .ui.fluid.container {
        height: 75%;
        width: 75%;
    }

    #lg-footer-text,
    #lg-credit-text {
        font-size: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }

    #lg-credit-text a,
    #lg-footer-text a {
        color: inherit;
    }

    #clip-button {
        float: right;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
</style>