{% extends "templates/base.html.j2" %}

<head>
    {% block head %}
    {% include "templates/inlinestyle.html.j2" %}
    {% endblock %}
</head>

{% block content %}
<div class="ui vertical center aligned segment" id="lg-maincontainer">
    {% import "templates/errortext.html.j2" as errortext %}
    {{ errortext.errortext(features.rate_limit.site.title, features.rate_limit.site.subtitle, features.rate_limit.site.button, "h1", "h3") }}
</div>
{% endblock %}

{% block footer %}
{% include "templates/footer.html.j2" %}
{% endblock %}