<div class="ui modal" id="ratelimit">
    <div class="header">
        {{ features.rate_limit.query.title }}
    </div>
    <div class="content">
        <p>{{ features.rate_limit.query.message }}</p>
    </div>
    <div class="actions">
        <a href="/">
            <div class="ui button">
                {{ features.rate_limit.query.button }}
            </div>
        </a>
    </div>
</div>