@charset "utf-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$family-sans-serif: "Nunito", sans-serif;
$family-monospace: "Fira Mono", monospace;

/* Color Changes */
$body-background-color: #fbfffe;
$footer-background-color: $body-background-color;

/* Custom Colors */
$lg-btn-submit: #40798c;
$lg-tag-loctitle: #330036;
$lg-tag-cmdtitle: #330036;
$lg-tag-cmd: #ff5e5b;
$lg-progressbar: #40798c;
$lg-tag-loc: #40798c;

/* Element Changes */
$footer-padding: 3rem 1.5rem 3rem ;

/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";

/* Looking Glass Imports */
@import "custom/custom_elements";