<div class="hero-foot lg-hero-bg">
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column">
      <div class="content is-small has-text-justified">
        {{ footer_content }}
      </div>
    </div>
    <div class="column is-1"></div>
    <div class="column is-1">
      <div class="dropdown is-up is-right is-hoverable">
        <div class="dropdown-trigger">
            <span class="icon has-text is-size-5 lg-icon-help">
              <i class="icofont-info-circle" aria-hidden="true"></i>
            </span>
        </div>
        <div class="dropdown-menu is-expanded" id="dropdown-menu2" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <p class="is-small has-icons">
                <strong>Powered by <a href="https://github.com/checktheroads/hyperglass">hyperglass</a></strong>
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-1"></div>
    </div>
