@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code|Nunito&display=swap");

.font {
  background-color: var(--ifm-color-emphasis-200);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: var(--ifm-color-emphasis-900);
  border-radius: var(--ifm-code-border-radius);
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.fontBody {
  font-family: Nunito, sans-serif;
}
.fontMono {
  font-family: "Fira Code", monospace;
}
