"""
https://github.com/checktheroads/hyperglass
Guncorn configuration
"""

import multiprocessing

command = "/usr/local/bin/gunicorn"
pythonpath = "/opt/hyperglass"
bind = "[::1]:8001"
preload = True
workers = multiprocessing.cpu_count() * 2
user = "www-data"
timeout = 60
keepalive = 10


def on_starting(server):
    """Renders CSS templates at initial code execution with single worker"""
    import hyperglass

    hyperglass.render.css()
    print(1)
