link: <a href="#" onclick="help_link_bgpc">{{ general["org_name"] }} BGP Communities</a>
---
Performs BGP table lookup based on [Extended](https://tools.ietf.org/html/rfc4360) or [Large](https://tools.ietf.org/html/rfc8195) community value.

{{ info["bgp_community"]["link"] }}
